* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background: #292929;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 10px;
  width: 700px;
  height: 500px;
  -webkit-box-shadow: 5px 5px 15px 1px black;
          box-shadow: 5px 5px 15px 1px black;
}

.members {
  border-radius: 10px 10px 0 0;
  background: #2f2e2e;
  padding: 10px;
  width: 100%;
  height: 8%;
  color: white;
  overflow-y: scroll;
}

.members::-webkit-scrollbar {
  display: none;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  background: #121212;
  padding: 10px;
  width: 100%;
  height: 84%;
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  width: 10px;
}

.list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.list::-webkit-scrollbar-thumb {
  background: #888;
}

.list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.message {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  word-break: break-word;
  margin: 5px 0;
  max-width: 500px;
}

.message .text {
  display: block;
  border-radius: 0 20px 20px 20px;
  background: #7a7aff;
  color: black;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.fromMe {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 5px;
}

.fromMe .text {
  background: #00bcab;
  border-radius: 20px 0 20px 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.fromMe .member {
  text-align: right;
}

.form {
  padding: 5px;
  width: 100%;
  height: 8%;
  background: #2f2e2e;
  border-radius: 0 0 10px 10px;
}

.form input:nth-child(1) {
  border: 0;
  background: #2f2e2e;
  color: white;
  padding-left: 5px;
  border-radius: 10px 0 0 10px;
  height: 100%;
  width: 90%;
}

.form input:nth-child(2) {
  height: 100%;
  width: 10%;
  border-radius: 0 10px 10px 0;
  color: white;
  border: 0;
  background: #2f2e2e;
  border-left: 1px solid white;
  cursor: pointer;
}

@media (max-width: 479px) {
  .form input:nth-child(1) {
    width: 80%;
  }
  .form input:nth-child(2) {
    width: 20%;
  }
}
/*# sourceMappingURL=style.css.map */