* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.github {
  text-decoration: none;
  line-height: 35px;
  text-align: center;
  display: block;
  width: 170px;
  height: 35px;
  margin: 20px 0;
  border-radius: 50px;
  color: black;
  background-color: #f00000;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #292929;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 700px;
  height: 500px;
  box-shadow: 5px 5px 15px 1px black;
}

.members {
  border-radius: 10px 10px 0 0;
  background: #2f2e2e;
  padding: 10px;
  width: 100%;
  height: 8%;
  color: white;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background: #121212;
  padding: 10px;
  width: 100%;
  height: 84%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
    &:hover {
      background: #555;
    }
  }
}

.message {
  align-self: flex-start;
  box-sizing: content-box;
  word-break: break-word;
  margin: 5px 0;
  max-width: 500px;
  .text {
    display: block;
    border-radius: 0 20px 20px 20px;
    color: black;
    padding: 10px;
    width: fit-content;
    margin-bottom: 5px;
    .time {
      display: block;
      font-size: 10px;
    }
  }
}
.fromMe {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 5px;
  .text {
    border-radius: 20px 0 20px 20px;
    align-self: flex-end;
    .time {
      text-align: end;
    }
  }
  .member {
    text-align: right;
  }
}

.form {
  padding: 5px;
  width: 100%;
  height: 8%;
  background: #2f2e2e;
  border-radius: 0 0 10px 10px;
  input:nth-child(1) {
    border: 0;
    background: #2f2e2e;
    color: white;
    padding-left: 5px;
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 90%;
    &:focus {
      outline-width: 0;
    }
  }
  input:nth-child(2) {
    height: 100%;
    width: 10%;
    border-radius: 0 10px 10px 0;
    color: white;
    border: 0;
    background: #2f2e2e;
    border-left: 1px solid white;
    cursor: pointer;
  }
}

@media (max-width: 479px) {
  .form {
    input:nth-child(1) {
      width: 80%;
    }
    input:nth-child(2) {
      width: 20%;
    }
  }
}
